#define	DS_SETFONT			0x00000040L
#define SS_NOPREFIX			0x00000080L
#define WS_EX_CLIENTEDGE	0x00000200L
#define DS_CENTER			0x00000800L
#define WS_SYSMENU			0x00080000L
#define WS_BORDER			0x00800000L
#define WS_CAPTION			0x00C00000L
#define WS_VISIBLE			0x10000000L
#define ES_NUMBER           0x00002000L
#define	CBS_DROPDOWNLIST	0x00000003L

PASSDLG DIALOGEX 0, 0, 200, 70, 0
FONT 10, "Times New Roman", 400, 0
STYLE DS_SETFONT | DS_CENTER | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Введите пароль и выберите диск"
BEGIN
 RTEXT "Пароль", 1001, 3, 4, 25, 8
 EDITTEXT 1002, 30, 3, 165, 12, NOT WS_BORDER, WS_EX_CLIENTEDGE
 RTEXT "Диск", 1005, 3, 22, 25, 8
 COMBOBOX 1006, 30, 20, 35, 250, CBS_DROPDOWNLIST
 LTEXT "Длина пароля должна быть в пределах от 6 до 100 символов. Пробелы в начале и конце пароля игнорируются.", 1007, 70, 18, 125, 25
 DEFPUSHBUTTON "Принять", 1003, 10, 50, 70, 13
 PUSHBUTTON "Отмена", 1004, 120, 50, 70, 13
END

NEWIMAGEDLG DIALOGEX 0, 0, 270, 70, 0
FONT 10, "Times New Roman", 400, 0
STYLE DS_SETFONT | DS_CENTER | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Создание нового образа"
BEGIN
 RTEXT "Размер диска (в Мб)", 1001, 3, 4, 68, 8, 0x00002000
 EDITTEXT 1002, 75, 3, 30, 12, ES_NUMBER
 LTEXT "не более 4096 Мб ( 4Гб )", 1003, 115, 4, 100, 8
 RTEXT "Путь к образу", 1004, 3, 21, 68, 8, SS_NOPREFIX
 EDITTEXT 1005, 75, 20, 170, 12, NOT WS_BORDER, WS_EX_CLIENTEDGE
 PUSHBUTTON "...", 1006, 250, 20, 15, 13
 DEFPUSHBUTTON "Создать", 1007, 15, 40, 70, 13
 PUSHBUTTON "Отмена", 1008, 180, 40, 70, 13
END

DELIMAGEDLG DIALOGEX 0, 0, 270, 50, 0
FONT 10, "Times New Roman", 400, 0
STYLE DS_SETFONT | DS_CENTER | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Удаление файла образа"
BEGIN
 RTEXT "Путь к образу", 1001, 3, 5, 50, 8, SS_NOPREFIX
 EDITTEXT 1002, 57, 3, 188, 12, NOT WS_BORDER, WS_EX_CLIENTEDGE
 PUSHBUTTON "...", 1003, 250, 3, 15, 13
 DEFPUSHBUTTON "Удалить", 1004, 15, 20, 70, 13
 PUSHBUTTON "Отмена", 1005, 180, 20, 70, 13
END
