101 ICON DISCARDABLE "icons/hard32x32.ico"
102 ICON DISCARDABLE "icons/hard48x48.ico"
103 ICON DISCARDABLE "icons/hard.ico"
104 ICON DISCARDABLE "icons/run.ico"
105 ICON DISCARDABLE "icons/stop.ico"
106 ICON DISCARDABLE "icons/not.ico"